* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}
body {
    background-color:#EEE;
    font-family:'Nunito',Helvetica,Arial;
    font-size:15px;
    display:flex;
    margin:0;
    min-height:100vh;
    justify-content: center;
}
body::-webkit-scrollbar,
.foodWindowBody::-webkit-scrollbar {
    border-radius: 50%;
}
body::-webkit-scrollbar-thumb,
.foodWindowBody::-webkit-scrollbar-thumb {
    background: #CCC;
    border-radius: 0.6rem;
}
body::-webkit-scrollbar,
.foodWindowBody::-webkit-scrollbar {
    width: 0.55rem;
    border-radius: 50%;
}
header {
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: #fff;
    z-index: 998;
    box-shadow: rgb(0 0 0 / 8%) 0px 0.2rem 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    gap: 20px;
    justify-content: center;
    width: 100%;    
    max-width: 1110px;
}
.logo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header img {
    height: 40px;
}
.header a {
    color: #ea1d2c;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
}
.searchBar {
    flex: 3;
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    max-width: 800px;
    padding: 5px 10px;
    background: #f1f2f4;
    border-radius: 10px;
    border: 1px solid #f1f2f4;
    color: #999999;
}
#searchbar{
    background: transparent;
    width: 100%;
    max-width: 800px;
    border: 0px;
    color: #333;
    margin: 10px 0px;
    height: 30px;
}
.searchBar img {
    height: 25px;
}
.headerLocal {
    display: flex;
    align-items: center;
    font-size: 12px;
}
.headerLocal img,
.headerCart img {
    height: 25px;
    margin-right: 5px;
}
.headerLocal h2,
.headerCart h2 {
    font-weight: 300;
}
.headerCart {
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}
.header-mobile {
    position: fixed;
    left:0;
    top:0;
    right:0;
    height:60px;
    background-color:#399ade;
    display:none;
    justify-content: flex-end;
    align-items: center;
}
.menu-openner {
    margin-right: 15px;
    font-size: 26px;
    background-color: #a9dcff;
    padding: 5px 20px;
    border-radius: 5px;
}
.menu-openner span {
    margin-right:10px;
}
.models {
    display:none;
}
.menu-closer {
    width:32px;
    height:32px;
    font-size: 30px;
}
.menu-closer img {
    height: 25px;
    cursor: pointer;
}
aside {
    background-color:#9ccbe6;
    width:0vw;
    font-family:'Nunito', Helvetica, Arial;
    transition:all ease .2s;
    overflow-x:hidden;
    right: 0;
}
aside.show {
    width:30vw;
    z-index: 999;
}
.cart--area {
    padding:20px;
}
main {
    flex:1;
    padding:20px;
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 1110px;
}
.main-area {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 2px;
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
}
.main-area--section {
    padding: 15px;
    width: 100%;
}
.main-area--logo img {
    width: 200px;
    height: 200px;
    padding: 15px;
}
.main-area--title {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.main-area--title h1 {
    font-size: 2em;
}
.main-area--title img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}
.main-area--title h2 {
    font-size: 16px;
    margin-left: 5px;
    font-weight: 700;
}
.main-area--desc {
    display: flex;
    margin-bottom: 10px;
}
.main-area--desc img {
    height: 18px;
    margin-left: 5px;
}
.main-area--desc img:first-child {
    margin-left: 0;
}
.main-area--desc p {
    font-size: 16px;
    margin-left: 5px;
    font-weight: 300;
}
.main-area--notice {
    display: flex;
    margin-bottom: 25px;
}
.main-area--notice img {
    height: 18px;
}
.main-area--notice p {
    margin-left: 5px;
    font-size: 16px;
    font-weight: 300;
}
.main-area--links {
    display: flex;
    justify-content: space-between;
}
.main-area--links a {
    color: #ea1d2c;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.main-area--links a:first-child:hover {
    color: #a51620;
}
.main-area--links a:last-child {
    border: 1px solid #ea1d2c;
    height: 40px;
    width: 60px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.main-area--links a:last-child:hover {
    background-color: #ea1d2c;
    transition:all ease .2s;
}
.main-area--links img {
    width: 20px;
    height: 20px;
}
#compartilharImgWhite {
    display: none;
}
.food-area {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1110px;
    gap: 2rem;
    margin-top: 50px;
}
.food-item {
    text-align: center;
    background-color: #fff;
    height: 150px;
    max-width: 1110px;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.food-item--block {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
}
.food-item--block:hover {
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 3px;
}
.food-item a {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
}
.food-item--img {
    width:130px;
    height:130px;
    background-color:#EEE;
    border-radius:10px;
    box-shadow:0px 10px 50px rgba(0, 0, 0, 0.2);    
}
.food-item--img img {
    width:100%;
    height:100%;
    border-radius:10px;
}
.food-item--section {
    text-align: start;
    margin-left: 10px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.food-item--name {
    font-size:20px;
    font-weight: bold;
    color:#000;
}
.food-item--desc {
    font-size:13px;
    color:#555;
}
.food-item--price {
    font-size:15px;
    color:#333;
}
.foodWindowArea {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:hsla(0, 0%, 100%, 0.5);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:hidden;
    z-index: 999;
}
.foodWindowBody {
    width:600px;
    background-color:#FFF;
    border-radius:10px;
    box-shadow:0px 0px 15px #999;
    margin:20px 0px;  
    height: 100%;  
    overflow-y:scroll;
}
.foodInfo--cancelButton {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 15px 20px;
    height: 50px;
    width: inherit;
    position: fixed;
    top: 0;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.foodInfo--cancelButton img {
    height: 16px;
    cursor: pointer;
}
.foodInfo--cancelMobileButton {
    display:none;
    height:40px;
    text-align:center;
    line-height: 40px;
    margin-bottom:30px;
}
.foodInfo--cancelMobileButton img {
    height: 16px;
    cursor: pointer;
}
.foodInfo--buyarea {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 15px 20px;
    height: 50px;
    width: inherit;
    position: fixed;
    bottom: 0;
    background: linear-gradient(transparent, rgb(255, 255, 255) 67.76%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 30px;
}
.foodInfo--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
    margin-right: 100px;
}
.foodInfo--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
}
.foodInfo--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}
.foodInfo--addButton {
    flex: 3;
    padding:10px;
    border-radius:10px;
    background-color:#ea1d2c;
    color:#FFF;
    display:inline-block;
    cursor:pointer;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.foodInfo--addButton:hover {
    background-color:#ea1d2c;
}
.foodInfo--price {
    display:flex;
    align-items:center;
}
.foodInfo--actualPrice {
    font-size:14px;
}
.foodBig {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
    width: 100%;
    margin-top: 50px;
}
.foodBig--back {
    position:absolute;
    width:30px;
    height:30px;
    background-color:#000;
}
.foodBig img {
    height:200px;
    width:auto;
    border-radius: 5px;
}
.foodInfo {
    flex:1;
    font-family:'Nunito', Helvetica, Arial;
    padding-bottom:50px;
    width: 100%;
}
.foodInfo h1 {
    margin-top:30px;
    text-align: center;
    color: #333;
    font-weight: 700;
    margin-bottom: 0;
}
.foodInfo .foodInfo--desc {
    font-size:15px;
    font-weight: 300;
    color:#333;
    margin-top:10px;
    font-family:'Nunito',Helvetica,Arial;
    text-align: center;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-right: 30px;
}
.foodInfo--sector {
    color:#111;
    width: 100%;
    background-color: #F1F1F1;
    font-size:18px;
    margin-top:10px;
    margin-bottom:10px;
    padding: 20px;
    padding-left: 30px;
    font-weight: 600;
}
.foodInfo--sizes {
    display:flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}
.foodInfo--size {
    color:#000;
    font-size:13px;
    font-weight: bold;
    cursor:pointer;
    font-size: 18px;
    font-weight: 400;
    color:#333;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f1;
}
.foodInfo--size.selected span {
    color:#444;
}
.foodInfo--size span {
    font-size:14px;
    color:#999;
    font-weight: normal;
}
.foodInfo--size input{
  display: none;
}
.foodInfo--size input + label:before {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #808080;
    display: inline-block;
    vertical-align: middle;
  }
.foodInfo--size input:checked + label:before {
    background-color: #fff;
    box-sizing: border-box;
    border: 5px solid #ea1d2c;
    padding: 4px;
    transition: all linear .1s;
}
.foodInfo--obsarea {
    padding-left: 30px;
    padding-right: 30px;
}
.foodInfo--obsareaSector {
    color:#111;
    width: 100%;
    font-size:18px;
    margin-top:10px;
    margin-bottom:10px;
    padding: 20px;
    padding-left: 0;
    font-weight: 600;
}
.foodInfo--obsarea textarea {
    background-color: rgb(241, 242, 244);
    border: 0px solid transparent;
    border-radius: 0.6rem;
    resize: none;
    height: 80px;
    text-align: left;
    padding: 1.5rem 1.5rem 0.5rem;
    width: 100%;
    margin-bottom: 30px;  
    outline: 0;  
}
.cart {
    margin-bottom:20px;
}
.cart--item {
    display:flex;
    align-items:center;
    margin:10px 0;
}
.cart--item img {
    width:40px;
    height:40px;
    margin-right:20px;
}
.cart--item-nome {
    flex:1;
}
.cart--item--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}
.cart--item--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}
.cart--item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}
.foodInfo--qtmenos {
    color: #999;
}
.foodInfo--qtmais {
    color: #ea1d2c;
}
.cart--totalitem {
    padding:15px 0;
    border-top:1px solid #79b9dd;
    color:#315970;
    display:flex;
    justify-content: space-between;
    font-size:15px;
}
.cart--totalitem span:first-child {
    font-weight: bold;
}
.cart--totalitem.big {
    font-size:20px;
    color:#000;
    font-weight: bold;
}
.cart--finalizar {
    padding:20px 30px;
    border-radius:20px;
    background-color:#48d05f;
    color:#FFF;
    cursor:pointer;
    text-align:center;
    margin-top:20px;
    border:2px solid #63f77c;
    transition: all ease .2s;
}
.cart--finalizar:hover {
    background-color:#35af4a;
}

@media (max-width:1000px) {
    .food-area {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:840px) {
    body {
        flex-direction: column;
    }
    .food-area {
        display:block;
    }
    .food-item {
        max-width:100%;
    }
    .header-mobile {
        display:flex;
    }
    main {
        padding-top:60px;
    }
    aside {
        width:auto;
        position:fixed;
        left:100vw;
        right:0;
        top:0;
        bottom:0;
        transition: all ease .2s;
    }
    aside.show {
        width:auto;
    }
    .cart--area {
        width:100vw;
    }
    .menu-closer {
        display:block;
    }
    .foodWindowArea {
        justify-content:flex-start;
        align-items: flex-start;
    }
    .foodWindowBody {
        width:100vw;
        display:block;
        padding:20px;
        border-radius:0;
        box-shadow: 0px 0px 15px #999;
        margin: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    .foodBig img {
        height:200px;
        width:auto;
        border-radius: 5px;
    }
    .foodInfo h1 {
        margin-top:20px;
    }
    .foodInfo--qtarea {
        height:60px;
    }
    .foodInfo--qtarea button {
        font-size:25px;
        padding:0px 25px;
    }
    .foodInfo--qt {
        line-height: 60px;
        font-size:20px;
    }
    .foodInfo--addButton {
        font-size:20px;
        display:block;
        text-align:center;
        margin:30px auto;
    }
    .foodInfo--cancelButton {
        display:none;
    }
    .foodInfo--cancelMobileButton {
        display:block;
    }
}